<?php
use Selenia\Plugins\IlluminateDatabase\Migration;
use Illuminate\Database\Schema\Blueprint;

class $className extends Migration
{
  /**
   * Run the migration.
   *
   * @return void
   */
  function up ()
  {

  }

  /**
   * Reverse the migration.
   *
   * @return void
   */
  function down ()
  {

  }

}
